<div class="container" xmlns:th="http://www.thymeleaf.org">
    <form class="form-signin mt-xl-5" method="post" th:action="@{'/vozenje/{id}/end'(id=${vozenje.vozenjeId})}">
        <h2 class="form-signin-heading">Start vozenje</h2>

        <p>
            <label for="pnlId" class="sr-only">Postojka</label>
            <select   class="form-control" name="pnlId" id="pnlId">
                <option class="form-control"
                        th:text="${vozenje.postojkanalinijaByKacuvaPnlId.postojkaByPId.pIme}"
                        selected
                        disabled
                        th:value="${vozenje.postojkanalinijaByKacuvaPnlId.pnlId} "  ></option>
<!--                        th:selected="${postojka!= null && postojka.pnlId == pos.pnlId} ? 'true' : 'false' " -->
<!--                        th:disabled="${postojka!= null && postojka.pnlId != pos.pnlId} ? 'true' : 'false' "  -->

            </select>
        </p>

        <p >
            <label for="instanca" class="sr-only">Instanca</label>
            <select id="instanca" name="inlId" class="form-control">
                <option
                        selected
                        disabled
                        th:value="${vozenje.instancanalinijaByInlId.inlId}"
                        th:text="${vozenje.instancanalinijaByInlId.linijaByLiId.liIme} + ' - ' + ${vozenje.instancanalinijaByInlId.linijaByLiId.liPravec}"></option>
            </select>
        </p>

        <p >
            <label for="bilet" class="sr-only">Bilet</label>
            <select id="bilet" name="bId" class="form-control">
                <option
                        selected
                        disabled
                        th:value="${vozenje.biletByBId.bId}"
                        th:text="${vozenje.biletByBId.tipbiletByTbId.tbIme} + ' - ' + ${vozenje.biletByBId.bStatus.name()}"></option>
            </select>
        </p>

        <p>
            <label for="pnlEndId" class="sr-only">Postojka Simnuvanje</label>
            <select   class="form-control" name="pnlEndId" id="pnlEndId">
                <option class="form-control"
                        th:each="pos : ${pnls}"
                        th:text="${pos.postojkaByPId.pIme}"
                        th:value="${pos.pnlId} "  ></option>


            </select>
        </p>

        <div th:if="${param.error}" th:text="${param.error}" class="text-danger"></div>

        <div class="row">
            <div class="col-md-3">
                <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">End</button>
            </div>
        </div>
    </form>
</div>

