<div xmlns:th="http://www.thymeleaf.org">


    <div style="width: 500px">
        <form method="post" action="/bilet/kupi">

            <p>
                <label for="tipbilet" class="sr-only">Tip Bilet</label>
                <select id="tipbilet" name="tipbilet" class="form-control">
                    <option class="form-control" th:each="tip : ${tipbileti}" th:value="${tip.tbId}" th:text="${tip.tbIme}"></option>
                </select>
            </p>

            <input type="submit" value="Kupi" class="btn btn-success">
        </form>

    </div>
</div>


