<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
            <h3 class="jumbotron-heading">All products</h3>
        </div>
    </section>

    <form method="get" action="/vozenje">
        <select name="status">
            <option th:each="status : ${vozStatus}" th:value="${status}" th:text="${status.name()}"></option>
        </select>

        <input type="submit" value="Search">
    </form>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" >
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Status</th>
                            <th scope="col">Korisnik Ime</th>
                            <th scope="col">Bilet Id</th>
                            <th scope="col">Tip Bilet</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vozenje : ${vozenja}" class="product">
                            <td th:text="${vozenje.vozenjeId}"></td>
                            <td th:text="${vozenje.vozenjeStatus.name()}"></td>
                            <td th:text="${vozenje.korisnikByPatnikKId.kIme}"></td>
                            <td th:text="${vozenje.biletByBId.bId}"></td>
                            <td th:text="${vozenje.biletByBId.tipbiletByTbId.tbIme}"></td>

                            <td class="text-right">
                                <th:block  >
                                    <form th:action="@{'/vozenje/{id}/end' (id=${vozenje.vozenjeId})}"
                                          th:hidden="${vozenje.vozenjeStatus.name().equals('FINISHED')} ? 'true' : 'false'"
                                          th:method="GET">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fas fa-trash-alt"></i> End
                                        </button>
                                    </form>
                                </th:block>
                            </td>
                            <td>
<!--                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--                                    <a th:href="@{'/products/edit-form/{id}' (id=${vozenje.vozenjeId})}"-->
<!--                                       class="btn btn-sm btn-info edit-product">-->
<!--                                        <i class="fas fa-edit"></i> Edit-->
<!--                                    </a>-->
<!--                                </th:block>-->
                            </td>
                            <td>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <a href="/vozenje/start" class="btn btn-block btn-dark add-product-btn">
                            Start vozenje
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


